<div class="row">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-plus"></i> Create event
                <div class="btn-group pull-right">
                    <button type="button" ng-click="clearEvent()" class="btn btn-info btn-sm">Clear &nbsp;<i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
            <div class="widget-body no-padding">
                <br>
                <form name="addevent" ng-submit="addEvent()">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group">
                                <h4>Event details</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Title</label>
                                <input required ng-model="add_event.title" class="form-control" placeholder="Title">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input required ng-model="add_event.description" class="form-control" placeholder="Tell us something about your event">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <label>Start</label>
                            <div class="input-group">
                                <input required type="text" class="form-control input-sm" datepicker-popup="{{format}}" ng-model="add_event.start" is-open="start_date_opened" min-date="minDate" max-date="'2015-06-22'" placeholder="Start date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" disabled/>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open('start_date_opened', $event)"><i class="fa fa-calendar"></i>
                                </button>
                            </span>
                            </div>
                            <label>End</label>
                            <div class="input-group">
                                <input required type="text" class="form-control input-sm" datepicker-popup="{{format}}" ng-model="add_event.end" is-open="end_date_opened" min-date="minDate" max-date="'2015-06-22'" placeholder="Start date" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" disabled/>
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open('end_date_opened', $event)"><i class="fa fa-calendar"></i>
                                </button>
                            </span>
                            </div>
                            <div class="form-group">
                                <label>Price</label>
                                <div class="form-group">
                                    <input type="number" required ng-model="add_event.price" class="form-control input-sm" placeholder="Price">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <hr>
                                <div class="form-group">
                                    <h4>Address</h4>
                                    <div class="form-group">
                                        <input type="text" required ng-model="add_event.address" class="form-control input-sm" placeholder="Address">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                        <input type="text" required ng-model="add_event.postcode" class="form-control input-sm" placeholder="Postcode">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <button type="submit" class="btn btn-success btn-sm pull-right">Add &nbsp;<i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>