<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="top-panel">
            <h5 class="text-secondary"> Events &nbsp; > &nbsp;<span class="text-accent"> Calendar </span></h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="widget">
            <div class="widget-body">
                <p class="no-padding pull-right">Total events: {{eventSources[0].length}} </p>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div calendar="calendar" ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>