<!-- SEARCH INPUT -->
<div class="row">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-users"></i> Events
                <input ng-if="events" ng-model="searchText" class="form-control pull-right" placeholder="search">
                <div class="clearfix"></div>
            </div>
            <!-- ADD LARGE CLASS FOR SCROLLABLE WIDGET -->
            <div class="widget-body no-padding">
                <br>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <!-- SHOW IF NOT EVENTS -->
                        <div ng-if="events <= 0">
                            <p>There are no events</p>
                        </div>
                        <div class="row">
                            <div ng-repeat="event in events | filter:searchText">
                                <div class="col-md-12 col-lg-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-6 col-lg-6">
                                                    <h3>{{event.title}}</h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-lg-6">
                                                    <img class="img-responsive" src="../assets/img/img_placeholder.jpg" height="800" width="1280">
                                                </div>
                                                <div class="col-md-6 col-lg-6">
                                                    <p class="no-padding">
                                                        <strong>ID:</strong>&nbsp; {{event._id}}
                                                    </p>
                                                    <p class="no-padding">
                                                        <strong>Created by:</strong>&nbsp; {{event.created_by}} TODO: MAKE INTO READABLE STRING
                                                        <!-- //TODO: FORMAT AS STRING -->
                                                    </p>
                                                    <p class="no-padding">
                                                        <strong>Start:</strong>&nbsp; {{event.start}}
                                                    </p>
                                                    <p class="no-padding">
                                                        <strong>End:</strong>&nbsp; {{event.end}}
                                                    </p>
                                                    <p class="no-padding">
                                                        <strong>Date created:</strong>&nbsp; {{event.date_created}}
                                                    </p>
                                                    <p class="no-padding">
                                                        <strong>Price:</strong>&nbsp; £{{event.price}}
                                                    </p>
                                                    <p class="no-padding">
                                                        <a href="#users_watching_event?id={{event._id}}&type=attending">Attendee's list</a> ||
                                                        <a href="#users_watching_event?id={{event._id}}&type=watching">Watchers list</a>
                                                    </p>
                                                    <p>
                                                    </p>
                                                    <h4>Description</h4>
                                                    <p>{{event.description}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12">
                                                    <div class="text-center">
                                                        <!-- ALLOW USER TO DELETE EVENTS -->
                                                        <button type="button" ng-show="event.can_delete" ng-click="deleteEvent(event._id)" class="btn btn-sm btn-danger">
                                                            Delete event &nbsp;
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                        <!-- ATTENDING BUTTONS -->
                                                        <button ng-show="event.user_is_attending" type="button" ng-click="unWatchOrAttend(event._id, 'attending')" class="btn btn-sm btn-danger">
                                                            Remove attendance &nbsp;
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                        <button ng-hide="event.user_is_attending" type="button" ng-click="watchOrAttend(event._id, 'attending')" class="btn btn-sm btn-success">
                                                            Attend &nbsp;
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                        <!-- WATCHING BUTTONS -->
                                                        <button ng-show="event.user_is_watching" type="button" ng-click="unWatchOrAttend(event._id, 'watching')" class="btn btn-sm btn-danger">
                                                            Remove watcher &nbsp;
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                        <button ng-hide="event.user_is_watching" type="button" ng-click="watchOrAttend(event._id, 'watching')" class="btn btn-sm btn-success">
                                                            Watch &nbsp;
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- EVENT CONTENT -->