<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="top-panel">
            <h5 class="text-secondary"> Events &nbsp; > &nbsp;<span class="text-accent"> By Location </span></h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <ui-gmap-google-map class="animated slideInLeft" center='map.coords' zoom='map.zoom'>
            <ui-gmap-marker coords="map.coords" idkey="0">
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
</div>