<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Current {{type}} for event (TODO: NAME) ({{event_id}})</h4>
            </div>
            <div class="panel-body">
                <div ng-if="error_message" class="alert alert-danger" role="alert">
                	<h4> Something went wrong </h4>
                	Could not fetch users, please try again
                </div>
                <div ng-if="!error_message">
                    <p ng-repeat="user in users">{{$index + 1}}) {{user.first_name}} {{user.last_name}}</p>
                    <h4>Total: {{users.length}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>