<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="widget">
            <div class="widget-header">
                Users {{type}} event: &nbsp;
                <i class="fa fa-quote-left"></i> {{event_title}}
                <i class="fa fa-quote-right"></i>
                <button class="btn btn-accent pull-right">
                    Print&nbsp;
                    <i class="fa fa-print"></i>
                </button>
            </div>
            <div class="widget-body">
                <div ng-if="error_message" class="alert alert-danger" role="alert">
                    <h4> Something went wrong </h4> Could not fetch users, please try again
                </div>
                <div ng-if="!error_message">
                    <table id="user_table" class="table table-striped">
                        <thead>
                            <th>Number</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Severity</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users">
                                <td> {{$index + 1}} </td>
                                <td> {{user._id}} </td>
                                <td> {{user.first_name}} {{user.last_name}} </td>
                                <td> {{user.severity_grade}} </td>
                            </tr>
                        </tbody>
                    </table>
                    <h4>Total: {{users.length}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>