//BTNS
.btn-accent {
    color: $white;
    background-color: $color-accent;
}
.btn-accent:hover {
    color: $black;
    opacity: 0.54;
    box-shadow: $shadow-mid;
    background-color: $color-accent;
}
.top-panel {
    background-color: $white;
    box-shadow: $shadow-mid;
    padding: 5px;
    border-weight: 1px;
    border: {
        bottom: $color-accent;
        top: none;
        left: none;
        right: none;
    }
}