<div class="row">
    <div class="col-lg-12">
        <h3> UI Bootstrap test </h3> 
        <div>
            <p>
                <button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
                <button class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
            </p>

            <label class="checkbox">
                <input type="checkbox" ng-model="oneAtATime">Open only one at a time
            </label>
            <accordion close-others="oneAtATime">
                <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    This content is straight in the template.
                </accordion-group>
                <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                    {{group.content}}
                </accordion-group>
                <accordion-group heading="Dynamic Body Content">
                    <p>The body of the accordion group grows to fit the contents</p>
                    <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
                    <div ng-repeat="item in items">{{item}}</div>
                </accordion-group>
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    This is just some content to illustrate fancy headings.
                </accordion-group>
            </accordion>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-list"></i> Notifications
                <a href="#" class="pull-right">Manage</a>
            </div>
            <div class="widget-body large no-padding">
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h4>You were assigned a mentor</h4>
                            </div>
                            <div class="panel-body">
                                <p>You need to send your mentor X a meeting that can be setup</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4>You recently went to: Bernardo's charity, how would you rate the experience?</h4>
                            </div>
                            <div class="panel-body">
                                <div class="text-center">
                                    <i class="fa fa-star-o fa-3x"></i>
                                    <i class="fa fa-star-o fa-3x"></i>
                                    <i class="fa fa-star-o fa-3x"></i>
                                    <i class="fa fa-star-o fa-3x"></i>
                                    <i class="fa fa-star-o fa-3x"></i>
                                </div>
                                <br>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Additional comments">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-list"></i> What next?
                <a href="#" class="pull-right">Manage</a>
            </div>
            <div class="widget-body large no-padding">
                <br>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>Organise a meeting with your mentor</h4>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <p>You need to send your mentor X a meeting that can be setup</p>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <button type="button" class=" btn btn-default">
                                            Mark as complete
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>Complete needs assessment</h4>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <p>You need to visit needsassessment.co.uk to complete a needs assessment online form</p>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <button type="button" class=" btn btn-default">
                                            Mark as complete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>Total: 2</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-tasks"></i> Servers
                <a href="#" class="pull-right">Manage</a>
            </div>
            <div class="widget-body medium no-padding">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>RDVMPC001</td>
                                <td>238.103.133.37</td>
                                <td>
                                    <span class="text-success"><i class="fa fa-check"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>RDVMPC002</td>
                                <td>68.66.63.170</td>
                                <td>
                                    <span class="text-success"><i class="fa fa-check"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>RDVMPC003</td>
                                <td>76.117.212.33</td>
                                <td>
                                    <span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>RDPHPC001</td>
                                <td>91.88.224.5</td>
                                <td>
                                    <span class="text-success"><i class="fa fa-check"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>RDESX001</td>
                                <td>197.188.15.93</td>
                                <td>
                                    <span class="text-success"><i class="fa fa-check"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>RDESX002</td>
                                <td>168.85.154.251</td>
                                <td>
                                    <span class="text-success"><i class="fa fa-check"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>RDESX003</td>
                                <td>209.25.191.61</td>
                                <td>
                                    <span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>RDESX004</td>
                                <td>252.37.192.235</td>
                                <td>
                                    <span class="text-success"><i class="fa fa-check"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>RDTerminal01</td>
                                <td>139.71.18.207</td>
                                <td>
                                    <span class="text-success"><i class="fa fa-check"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>RDTerminal02</td>
                                <td>136.80.122.212</td>
                                <td>
                                    <span tooltip="Could not connect!" class="text-warning"><i class="fa fa-flash"></i>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>RDDomainCont01</td>
                                <td>196.80.245.33</td>
                                <td>
                                    <span class="text-success"><i class="fa fa-check"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-users"></i> Users
                <input type="text" placeholder="Search" class="form-control input-sm pull-right" />
                <div class="clearfix"></div>
            </div>
            <div class="widget-body medium no-padding">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th>Username</th>
                                <th>Role</th>
                                <th>Account</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td>Joe Bloggs</td>
                                <td>Super Admin</td>
                                <td>AZ23045</td>
                            </tr>
                            <tr>
                                <td class="text-center">2</td>
                                <td>Timothy Hernandez</td>
                                <td>Admin</td>
                                <td>AU24783</td>
                            </tr>
                            <tr>
                                <td class="text-center">3</td>
                                <td>Joe Bickham</td>
                                <td>User</td>
                                <td>AM23781</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>








<div class="row">
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="widget-icon green pull-left">
                    <i class="fa fa-users"></i>
                </div>
                <div class="widget-content pull-left">
                    <div class="title">80</div>
                    <div class="comment">Users</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="widget-icon green pull-left">
                    <i class="fa fa-users"></i>
                </div>
                <div class="widget-content pull-left">
                    <div class="title">80</div>
                    <div class="comment">Users</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="widget-icon red pull-left">
                    <i class="fa fa-tasks"></i>
                </div>
                <div class="widget-content pull-left">
                    <div class="title">16</div>
                    <div class="comment">Servers</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="widget-icon orange pull-left">
                    <i class="fa fa-sitemap"></i>
                </div>
                <div class="widget-content pull-left">
                    <div class="title">225</div>
                    <div class="comment">Documents</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="spacer visible-xs"></div>
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="widget-icon blue pull-left">
                    <i class="fa fa-support"></i>
                </div>
                <div class="widget-content pull-left">
                    <div class="title">62</div>
                    <div class="comment">Tickets</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>