<div class="row">
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-list"></i> Survivors United Updates
            </div>
            <div class="widget-body large no-padding">
                <div class="row">
                    <div class="col-lg-12">
                        <h3> Welcome to Survivors United </h3>
                        <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. </p>
                        <a> Take the tour </a> https://github.com/mendhak/angular-intro.js
                        <hr>
                        <h3> Whats new</h3>
                        <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. </p>
                        <hr>
                        <h3> Survivors United in the news </h3>
                        <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur.</p>
                        <a href="http://www.bbc.co.uk/news/uk-politics-26036279">Find out more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-list"></i> Your mentor
                <a class="pull-right" href="#mentor"> More details </a>
            </div>
            <div class="widget-body no-padding">
                <div class="row">
                    <div class="col-lg-12">
                        <br>
                        <p> Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <h3> Task statistics </h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="widget">
            <div class="widget-body">
                <div class="widget-icon green pull-left">
                    <i class="fa fa-check"></i>
                </div>
                <div class="widget-content pull-left">
                    <div class="title">{{complete_tasks}}</div>
                    <div class="comment">Complete</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget">
            <div class="widget-body">
                <div class="widget-icon red pull-left">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div class="widget-content pull-left">
                    <div class="title">{{pending_tasks}}</div>
                    <div class="comment">Pending</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-list"></i> What next?
            </div>
            <div class="widget-body large no-padding">
                <br>
                <div class="row" ng-repeat="task in tasks">
                    <div class="col-md-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4 ng-class="{'text-strikethrough': task.status === 'closed'}">{{task.title}}</h4>
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <p>{{task.description}}</p>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <button type="button" class="btn btn-success" ng-click="updateTask(task._id, 'closed')" ng-show="task.status === 'open'">
                                            <i class="fa fa-check"></i> Mark as complete
                                        </button>
                                        <button type="button" class="btn btn-info" ng-click="updateTask(task._id, 'open')" ng-show="task.status === 'closed'">
                                            <i class="fa fa-undo"></i> &nbsp; Mark as not complete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-bell"></i> Notifications?
            </div>
            <div class="widget-body large no-padding">
                <br>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <p> Notifications </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>