<div class="row">
    <div class="col-lg-12">
        <h3>Code coverage</h3>
        <iframe class="codeCoverageIframe" src="tests/coverage/Chrome%2038.0.2125%20(Mac%20OS%20X%2010.10.1)/index.html"></iframe>
    </div>
</div>
<!-- BACK END TESTS -->
<div class="row">
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <div class="row">
                    <div class="col-lg-6">
                        <i class="fa fa-list"></i> REST endpoints
                    </div>
                    <div class="col-lg-6 text-right">
                        <button type="button" ng-click="runTest('backend')" class="btn btn-info btn-sm">Run &nbsp;<i class="fa fa-cycle"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="widget-body no-padding">
                <br>
                <div class="row" ng-show="loading.backend">
                    <div class="col-lg-12">
                        <div>
                            <spinner></spinner>
                        </div>
                    </div>
                </div>
                <div class="row" ng-hide="loading.backend">
                    <div class="col-lg-12">
                        <div class="widget" ng-class="{'green': results.backend.success, 'red': !results.backend.success}">
                            <div class="widget-body">
                                <div class="widget-content text-center">
                                    <div class="title">{{results.backend.success}}</div>
                                    <br>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BACK END TESTS -->
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <div class="row">
                    <div class="col-lg-6">
                        <i class="fa fa-list"></i> Front end unit tests
                    </div>
                    <div class="col-lg-6 text-right">
                        <button type="button" ng-click="runTest('frontend')" class="btn btn-info btn-sm">Run &nbsp;<i class="fa fa-cycle"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="widget-body no-padding">
                <br>
                <div class="row" ng-show="loading.frontend">
                    <div class="col-lg-12">
                        <div>
                            <spinner></spinner>
                        </div>
                    </div>
                </div>
                <div class="row" ng-hide="loading.frontend">
                    <div class="col-lg-12">
                        <div class="widget" ng-class="{'green': results.frontend.success, 'red': !results.frontend.success}">
                            <div class="widget-body">
                                <div class="widget-content text-center">
                                    <div class="title">{{results.frontend.success}}</div>
                                    <br>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ERROR LOG TESTS -->
<div class="row">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-list"></i> Error log
            </div>
            <div class="widget-body large no-padding">
                <table class="table table-bordered table-striped">
                    <thead>
                        <th>File</th>
                        <th>Request was anonymous</th>
                        <th>Err</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="error in error_list">
                            <td>{{error.location}}</td>
                            <td>{{error.anonymous}}</td>
                            <td>{{error.err}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>