<!-- SEARCH INPUT -->
<div class="row">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-users"></i> Events
                <input ng-if="events" ng-model="searchText" class="form-control pull-right" placeholder="search">
                <div class="clearfix"></div>
            </div>
            <!-- ADD LARGE CLASS FOR SCROLLABLE WIDGET -->

            <div class="widget-body no-padding">
                <br>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <!-- SHOW IF NOT EVENTS -->
                        <div ng-if="events <= 0">
                            <p>There are no events</p>
                        </div>
                        <div class="row">
                            <div ng-repeat="event in events | filter:searchText">
                                <div class="col-md-12 col-lg-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12">
                                                    <h3>{{event.title}}</h3>
                                                </div>
                                                <div class="col-md-6 col-lg-6">
                                                    <img class="img-responsive" src="../assets/img/img_placeholder.jpg" height="800" width="1280">
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 col-lg-6">
                                                        <p>
                                                            <strong>ID:</strong>&nbsp; {{event._id}}
                                                        </p>
                                                        <p>
                                                            <strong>Created by:</strong>&nbsp; {{event.created_by}} TODO: MAKE INTO READABLE STRING
                                                            <!-- //TODO: FORMAT AS STRING -->
                                                        </p>
                                                        <p>
                                                            <strong>Start:</strong>&nbsp; {{event.start}}
                                                        </p>
                                                        <p>
                                                            <strong>End:</strong>&nbsp; {{event.end}}
                                                        </p>
                                                        <p>
                                                            <strong>Date created:</strong>&nbsp; {{event.date_created}}
                                                        </p>
                                                        <p>
                                                            <strong>Price:</strong>&nbsp; {{event.price}}
                                                        </p>
                                                        <p>
                                                            <strong>Current attendee's:</strong>&nbsp; <a href="#users_watching_event?id={{event._id}}&type=attending">current attendee's</a>
                                                        </p>

                                                        <!-- //TODO: IF USER IS ATTENDING ({{event.user_is_attending}}) ADD AN UNSUBSCRIBE BUTTON
 -->

                                                        <button type="button" ng-click="watchOrAttend(event._id, 'attending')" class="btn btn-success">
                                                            Attend &nbsp;
                                                            <i class="fa fa-plus">
                                            </i>
                                                        </button>

                                                        <p>
                                                            <strong>Current watchers's:</strong>&nbsp; <a href="#users_watching_event?id={{event._id}}&type=watching">current watchers</a>
                                                        </p>

                                                        <button type="button" ng-click="watchOrAttend(event._id, 'watching')" class="btn btn-success">
                                                            Watch &nbsp;
                                                            <i class="fa fa-plus">
                                            </i>
                                                        </button>

                                                        <h4>Description</h4>
                                                        <p>{{event.description}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- EVENT CONTENT -->