<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>{{title}} events</h2>
                <h4>Total events ({{events_count}})</h4>
                <hr>
                <input ng-model="searchText" class="form-control" placeholder="search">
                <br> 

                <div ng-repeat="event in events | filter:searchText" class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <h3>{{event.title}}</h3>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <img class="img-responsive" src="http://img2.wikia.nocookie.net/__cb20140518071050/towerofsaviors/images/archive/4/47/20140518072131!Placeholder.png">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <p>
                                                <strong>ID:</strong>&nbsp; {{event._id}}
                                            </p>
                                            <p>
                                                <strong>Date:</strong>&nbsp; {{event.date}}
                                            </p>
                                            <p>
                                                <strong>Price:</strong>&nbsp; {{event.price}}
                                            </p>
                                            <p>
                                                <strong>Current attendee's:</strong>&nbsp; {{event.attending}}
                                            </p>
                                            <p>
                                                <strong>Current watchers:</strong>&nbsp; {{event.watchers}}
                                            </p>
                                            <div class="row">
                                                <div ng-repeat="watcher in event.watchers" class="col-md-3 col-lg-3">
                                                    <img class="img-responsive" src="http://img2.wikia.nocookie.net/__cb20140518071050/towerofsaviors/images/archive/4/47/20140518072131!Placeholder.png">
                                                    <p class="text-center">ID: &nbsp; {{watcher}}</p>
                                                </div>
                                            </div>

                                            <h4>Description</h4>
                                            <p>{{event.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>