<div class="row">
    <div class="col-md-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>What next?</h2>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Organise a meeting with your mentor</h4>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <p>You need to send your mentor X a meeting that can be setup</p>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <button type="button" class=" btn btn-default">
                                    Mark as complete
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Complete needs assessment</h4>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <p>You need to visit needsassessment.co.uk to complete a needs assessment online form</p>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <button type="button" class=" btn btn-default">
                                    Mark as complete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <p>Total: 2</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Notifications</h4>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>You recently went to: Bernardo's charity, how would you rate the experience?</h4>
                        <div class="text-center">
                            <i class="fa fa-star-o fa-3x"></i>
                            <i class="fa fa-star-o fa-3x"></i>
                            <i class="fa fa-star-o fa-3x"></i>
                            <i class="fa fa-star-o fa-3x"></i>
                            <i class="fa fa-star-o fa-3x"></i>
                        </div>
                        <br>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Additional comments">
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>You were assigned a mentor</h4>
                        <p>You need to send your mentor X a meeting that can be setup</p>
                    </div>
                </div>
                <p>Total: 2</p>
            </div>
        </div>

    </div>
</div>
</div>
</div>