<div class="panel panel-default">
    <div class="panel-body">
        <h2>Your mentor</h2>
        <h4>{{mentor.first_name}} {{mentor.last_name}}</h4>
        <hr>
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form role="form">
                            <img class="img-responsive" src="{{mentor.img}}">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-8">
                <strong>Biography:</strong>
                </p>
                <p>
                    {{mentor.bio}}
                </p>
                <strong>Email: &nbsp;</strong>{{mentor.email}}</p>
            </div>
        </div>
    </div>
</div>
</div>