<div class="row">
    <div class="col-md-4 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form">
                    <h4>Inbox</h4>
                    <hr>
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="#">
                                <span class="badge pull-right">42</span>Inbox</a>
                        </li>
                        <li><a href="http://www.jquery2dotnet.com">Starred</a>
                        </li>
                        <li><a href="http://www.jquery2dotnet.com">Important</a>
                        </li>
                        <li><a href="http://www.jquery2dotnet.com">Sent Mail</a>
                        </li>
                        <li>
                            <a href="http://www.jquery2dotnet.com">
                                <span class="badge pull-right">3</span>Drafts</a>
                        </li>
                    </ul>

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Content</h4>
                <button type="button" class="full-width btn btn-default">
                    <i class="fa fa-refresh"></i>
                </button>
                <hr>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2 col-lg-2">
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <p>Simon example</p>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <p>Subject</p>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <p>Content ...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>