<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input class="form-control" type="email" placeholder="Search ...">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>