<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Upcoming events</h2>
                <hr>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <h3>Church get together</h3>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <img class="img-responsive" src="http://img2.wikia.nocookie.net/__cb20140518071050/towerofsaviors/images/archive/4/47/20140518072131!Placeholder.png">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <p>
                                                <strong>Date:</strong>&nbsp; 12/12/2014
                                            </p>
                                            <p>
                                                <strong>Price:</strong>&nbsp; £10
                                            </p>
                                            <p>
                                                <strong>Current attendee's:</strong>&nbsp; 22
                                            </p>
                                            <div class="row">
                                                <div class="col-md-3 col-lg-3">
                                                    <img class="img-responsive" src="http://img2.wikia.nocookie.net/__cb20140518071050/towerofsaviors/images/archive/4/47/20140518072131!Placeholder.png">
                                                    <p class="text-center">Bob</p>
                                                </div>
                                                <div class="col-md-3 col-lg-3">
                                                    <img class="img-responsive" src="http://img2.wikia.nocookie.net/__cb20140518071050/towerofsaviors/images/archive/4/47/20140518072131!Placeholder.png">
                                                    <p class="text-center">Sarah</p>
                                                </div>
                                                <div class="col-md-3 col-lg-3">
                                                    <img class="img-responsive" src="http://img2.wikia.nocookie.net/__cb20140518071050/towerofsaviors/images/archive/4/47/20140518072131!Placeholder.png">
                                                    <p class="text-center">Tracey</p>
                                                </div>
                                            </div>

                                            <h4>Description</h4>
                                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                                                <r/p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>