<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>User Management</h2>
                <hr>
                <h4>
                    <strong>Total users:&nbsp;</strong>{{user_count}}</h4>
                <h4>
                    <strong>Without mentors:&nbsp;</strong>{{without_mentors}}</h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>User sign ups</h2>

                <!-- REMOVE THIS INLINE STYLE! -->
                <style>
                .chart {
                    width: 400px;
                    height: 500px;
                }
                </style>

                <!-- USER SIGNUPS CHART -->
                <div data-ac-chart="'bar'" data-ac-data="signup_chart_data" data-ac-config="signup_chart_config" class="chart"></div>

            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Number of severity users</h2>
                <!-- SEVERITY USERS CHART -->
                <div data-ac-chart="'pie'" data-ac-data="severity_chart_data" data-ac-config="severity_chart_config" class="chart">
                </div>
            </div>
        </div>
    </div>
</div>
