Complete task
<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-header">
                Task content
            </div>
            <div class="widget-body">
                <div ng-bind-html="content"> </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-header">
                Actions
            </div>
            <div class="widget-body">
                <button class="btn btn-success">
                	Mark as complete
                </button>
            </div>
        </div>
    </div>
</div>