<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="top-panel">
            <h5 class="text-secondary"> Dashboard &nbsp; > &nbsp;<span class="text-accent"> Task details </span></h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-header">
                Task content
            </div>
            <div class="widget-body">
                <div ng-bind-html="content"> </div>
            </div>
        </div>
    </div>
</div>