<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="top-panel">
            <h5 class="text-secondary"> Processes &nbsp; > &nbsp;<span class="text-accent"> Manager </span></h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <accordion close-others="false">
            <accordion-group heading="Process details ({{process._id}})" is-open="true">

                <p class="no-padding"> Created: {{process.date_created}} || Updated: {{process.date_updated}} || Created by: //todo </p>

                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="form-group">
                            <label>Name</label>
                            <input ng-blur="updateNameAndDescription()" required ng-model="process.name" class="form-control input-sm" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea ng-blur="updateNameAndDescription()" required ng-model="process.description" class="form-control input-sm" rows="3" placeholder="Tell us something about your process"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-4">
                        <label class="text-center">Publish</label>
                    </div>
                    <div class="col-md-2">
                        {{process.published}}
                        <a><i ng-click="processActions.publish()" ng-class="{'fa-circle-o': !process.published, 'fa-check-circle-o': process.published}" class="fa fa-2x pull-right"></i></a>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div class="col-lg-6">
        <accordion close-others="false">
            <accordion-group heading="Assignees" is-open="true">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="form-group">
                            <label>Assignee's</label>
                            <table class="table table-striped">
                                <thead>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Actions</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="assignee in process.assignees">
                                        <td class="text-center">
                                            <span tooltip="{{assignee}}">
                                            {{lookUpNameFromID(assignee)}}
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-danger btn-sm">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-md-12">
                                    <select ng-model="assignee_to_add" class="form-control">
                                        <option value="{{user._id}}" ng-repeat="user in users">
                                            {{user.first_name}} {{user.last_name}}
                                            <span ng-show="!user.first_name || !user.last_name">
                                                    Anonymous user
                                                </span> ({{user._id}})
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button ng-click="assigneeActions.addNewAssignee(assignee_to_add)" class="pull-right btn btn-success btn-block">
                                        <i class="fa fa-plus"></i> Add new assignee
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <accordion close-others="false">
            <accordion-group heading="Create task">
                <!-- 
            TODO: FOR SOME REASON THE OVERFLOW CLASS ISN'T BEING APPLIED AND THEREFORE IS INLINE,
            TRY TO RESOLVE AND REMOVE
             -->
                <div class="overflow-scroll-x row" style="overflow-x: scroll">
                    <div class="col-md-12 col-lg-12">
                        <form name="new_task_form" ng-submit="taskActionsTemp.addToProcess()">
                            <table class="table table-striped">
                                <thead>
                                    <th class="text-center">name</th>
                                    <th class="text-center">description</th>
                                    <th class="text-center">dependencies</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input class="form-control" required ng-model="new_task.name" type="text"> </input>
                                        </td>
                                        <td>
                                            <input class="form-control" required ng-model="new_task.description" type="text"> </input>
                                        </td>
                                        <td>
                                            <select ng-model="new_task.dependencies" class="form-control" multiple>
                                                <option value="{{task.id}}" ng-repeat="task in process.tasks">{{task.name}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="submit" class="pull-right btn btn-success">
                            </input>
                        </form>
                    </div>
            </accordion-group>
        </accordion>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <accordion close-others="false">
            <accordion-group heading="Task details (Last updated: 25/03/2015)" is-open="true">
                <!-- 
            TODO: FOR SOME REASON THE OVERFLOW CLASS ISN'T BEING APPLIED AND THEREFORE IS INLINE,
            TRY TO RESOLVE AND REMOVE
             -->
                <div class="show" ng-show="process.tasks.length === 0">
                    <p>There are currently no tasks for this process</p>
                </div>
                <div class="overflow-scroll-x row" style="overflow-x: scroll" ng-hide="process.tasks.length === 0">
                    <div class="col-md-12 col-lg-12">
                        <div class="form-group">
                            <table class="table table-striped">
                                <thead>
                                    <th class="text-center">name (id)</th>
                                    <th class="text-center">description</th>
                                    <th class="text-center">content</th>
                                    <th class="text-center">dependencies</th>
                                    <th class="text-center">actions</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="task in process.tasks">
                                        <td class="text-center">{{task.name}} ({{task.id}})</td>
                                        <td class="text-center">{{task.description}}</td>
                                        <td class="text-center">
                                            <a href="#task_editor/{{process._id}}/{{task.id}}">
                                                <button class="btn btn-primary btn-sm">
                                                    <i class="fa fa-pencil"></i> Edit
                                                </button>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <select ng-model="process.tasks[$index].dependencies" class="form-control" multiple>
                                                <option value="{{task.id}}" ng-repeat="task in process.tasks">{{task.name}}</option>
                                            </select>
                                        </td>
                                        <td class="text-center">
                                            <button ng-click="taskActions.deleteTask($index, task.id)" class="btn btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </accordion-group>
        </accordion>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-header">
                Task dependencies ({{process.tasks.length}})
            </div>
            <div class="widget-body">
                <div d3-create-process tasks="process.tasks" actions="taskActions"></div>
            </div>
        </div>
    </div>
</div>