<div class="row">
    <div class="col-md-12">
        <select required class="form-control input-sm" ng-model="selected_process">
            <option ng-selected="{{selected_process}}" value="{{process._id}}" ng-repeat="process in all_process_details">
                {{process.name}} ({{process._id}})
            </option>
        </select>
    </div>
</div>

<div ng-show="!selected_process">
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-body">
                    <p> Please select a process to begin </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-hide="!selected_process">
    <div class="row">
        <div class="col-lg-12">
            <accordion close-others="false">
                <accordion-group heading="Process details (Last updated: 25/03/2015 || ID: {{process._id}}" is-open="true">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input required ng-model="process.name" class="form-control input-sm" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea required ng-model="process.description" class="form-control input-sm" rows="3" placeholder="Tell us something about your process"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>Assignee's</label>
                                <table class="table table-striped">
                                    <thead>
                                        <th class="text-center">ID</th>
                                        <th class="text-center">Actions</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="assignee in process.assignees">
                                            <td class="text-center">
                                                {{assignee}}
                                            </td>
                                            <td class="text-center">
                                                <button class="btn btn-danger btn-sm">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button class="pull-right btn btn-success">
                                    <i class="fa fa-plus"></i> Add new assignee
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-10">
                            <label for="">Publish</label>
                            <a><i ng-click="processActions.publish()" ng-class="{'fa-circle-o': process.published, 'fa-check-circle-o': !process.published}" class="fa fa-2x pull-right"></i></a>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <accordion close-others="false">
                <accordion-group heading="Task details (Last updated: 25/03/2015)" is-open="true">
                    <!-- 
            TODO: FOR SOME REASON THE OVERFLOW CLASS ISN'T BEING APPLIED AND THEREFORE IS INLINE,
            TRY TO RESOLVE AND REMOVE
             -->
                    <div class="overflow-scroll-x row" style="overflow-x: scroll">
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group">
                                <table class="table table-striped">
                                    <thead>
                                        <th class="text-center">id</th>
                                        <th class="text-center">name</th>
                                        <th class="text-center">description</th>
                                        <th class="text-center">content</th>
                                        <th class="text-center">dependencies</th>
                                        <th class="text-center">completed_by</th>
                                        <th class="text-center">actions</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="task in process.tasks">
                                            <td class="text-center">{{task.id}}</td>
                                            <td class="text-center">{{task.name}}</td>
                                            <td class="text-center">{{task.description}}</td>
                                            <td class="text-center">
                                                <a href="#task_editor/{{process._id}}/{{task.id}}">
                                                    <button class="btn btn-primary btn-sm">
                                                        <i class="fa fa-pencil"></i> Edit
                                                    </button>
                                                </a>
                                            </td>
                                            <td class="text-center">{{task.dependencies}}</td>
                                            <td class="text-center">{{task.completed_by}}</td>
                                            <td class="text-center">
                                                <button ng-click="taskActions.deleteTask($index)" class="btn btn-danger">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </accordion-group>
            </accordion>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <accordion close-others="false">
                <accordion-group heading="Create task">
                    <!-- 
            TODO: FOR SOME REASON THE OVERFLOW CLASS ISN'T BEING APPLIED AND THEREFORE IS INLINE,
            TRY TO RESOLVE AND REMOVE
             -->
                    <div class="overflow-scroll-x row" style="overflow-x: scroll">
                        <div class="col-md-12 col-lg-12">
                            <form name="new_task_form" ng-submit="taskActions.addToProcess()">
                                <table class="table table-striped">
                                    <thead>
                                        <th class="text-center">id</th>
                                        <th class="text-center">name</th>
                                        <th class="text-center">description</th>
                                        <th class="text-center">content</th>
                                        <th class="text-center">dependencies</th>
                                        <th class="text-center">completed_by</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input placeholder="task id" class="form-control" required ng-model="new_task.id" type="text"> </input>
                                            </td>
                                            <td>
                                                <input class="form-control" required ng-model="new_task.name" type="text"> </input>
                                            </td>
                                            <td>
                                                <input class="form-control" required ng-model="new_task.description" type="text"> </input>
                                            </td>
                                            <td>
                                                <input class="form-control" required ng-model="new_task.content" type="text"> </input>
                                            </td>
                                            <td>
                                                <input class="form-control" required ng-model="new_task.dependencies" type="text"> </input>
                                            </td>
                                            <td>
                                                <input class="form-control" required ng-model="new_task.completed_by" type="text"> </input>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <input type="submit" class="pull-right btn btn-success">
                                </input>
                            </form>
                        </div>
                </accordion-group>
            </accordion>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="widget">
                <div class="widget-header">
                    Task dependencies ({{process.tasks.length}})
                </div>
                <div class="widget-body">
                    <div style="" d3-create-process tasks="process.tasks"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="widget">
                <!-- <div class="widget-header"></div> -->
                <div class="widget-body">
                    {{process}}
                </div>
            </div>
        </div>
    </div>
</div>