<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="top-panel">
            <h5 class="text-secondary"> Home &nbsp; > &nbsp;<span class="text-accent"> Dashboard </span></h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-body">
                <h4> Welcome back, {{user_details.first_name}} </h4>
                <p class="no-padding"> New to the service? <a ng-click="startIntro();">take the tour </a> </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-list"></i> Processes
            </div>
            <div class="widget-body full no-padding">
                <div ng-repeat="process in processes">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>
                                <span tooltip-placement="right" tooltip="{{process._id}}">
                                    {{process.name}}
                            </span>
                            </h1>
                            <p class="no-padding"> {{process.description}} </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-striped">
                                <thead>
                                    <th class="text-center">Complete</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Description</th>
                                    <th class="text-center">Content</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="task in process.tasks" ng-show="task.incomplete_tasks.length === 0">
                                        <td class="text-center">
                                            <a ng-click="processActions.markAsComplete(process._id, task.id, task.completed_by_current_user)">
                                                <i ng-click="processActions.markAsComplete()" ng-class="{'fa-circle-o': !task.completed_by_current_user, 'fa-check-circle-o': task.completed_by_current_user}" class="fa fa-2x"></i>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <span tooltip-placement="right" tooltip="{{task.id}}">{{task.name}} </span>
                                        </td>
                                        <td class="text-center">{{task.description}}</td>
                                        <td class="text-center">
                                            <a href="#complete_task/{{process._id}}/{{task.id}}" ng-show="!task.completed_by_current_user">
                                                <button class="btn btn-primary">
                                                    Begin task
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget">
            <div class="widget-header">
                Upcoming events
            </div>
            <div class="widget-body">
                todo
            </div>
        </div>
        <br>
        <div class="widget">
            <div class="widget-header">
                Attending events
            </div>
            <div class="widget-body">
                todo
            </div>
        </div>
    </div>
</div>