<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="top-panel">
            <h5 class="text-secondary"> Main &nbsp; > &nbsp;<span class="text-accent"> Mentees </span></h5>
        </div>
    </div>
</div>
<div class="row" ng-show="mentees.length === 0">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-body small no-padding">
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="text-center">
                            No mentees currently assigned
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-repeat="mentee in mentees">
    <div class="col-lg-8">
        <div class="widget">
            <div class="widget-header" ng-class="{'red': mentee.severity_grade === 'High', 'yellow': mentee.severity_grade === 'Medium', 'blue': mentee.severity_grade === 'Low' }">
                <p class="text-white"><i class="fa fa-user"></i>{{mentee.username}}({{mentee._id}})</p>
            </div>
            <div class="widget-body small no-padding">
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            First name: &nbsp; {{mentee.first_name}}
                        </p>
                        <p>
                            Last name: &nbsp; {{mentee.last_name}}
                        </p>
                        <hr>
                        <p>
                            Created: &nbsp; {{mentee.date_created}}
                        </p>
                        <p>
                            severity_grade: &nbsp; {{mentee.severity_grade}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="widget">
            <div class="widget-header">
                <p><i class="fa fa-envelope"></i> Instant message module</p>
            </div>
            <div class="widget-body small no-padding">
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Message content</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>