<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="top-panel">
            <h5 class="text-secondary"> Main &nbsp; > &nbsp;<span class="text-accent"> {{current_path}} </span></h5>
        </div>
    </div>
</div>
<div class="row" ng-show="mentees.length === 0">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-body small no-padding">
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="text-center">
                            No {{current_path}}'s currently assigned
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-repeat="contact in mentees">
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header" ng-class="{'red': contact.severity_grade === 'High', 'yellow': contact.severity_grade === 'Medium', 'blue': contact.severity_grade === 'Low' }">
                <span tooltip="{{contact._id}}" tooltip-placement="right">
                    {{contact.username}}
                </span>
            </div>
            <div class="widget-body large no-padding">
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div ng-show="contact.img">
                                    <img class="img-responsive" src="{{contact.img}}">
                                </div>
                                <div ng-show="!contact.img">
                                    <img class="img-responsive" src="../../assets/img/img_placeholder.jpg">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <p class="no-padding">
                                    <strong>  Name: </strong> &nbsp; {{contact.first_name}} {{contact.last_name}}
                                </p>
                                <p class="no-padding">
                                    <strong>  Bio: </strong> &nbsp; {{contact.bio}}
                                </p>
                                <!-- <p class="no-padding"> <strong>Role:</strong> &nbsp; {{contact.role}}
                                </p> -->
                                <!-- <p class="no-padding"> <strong>Account since:</strong> &nbsp; {{contact.date_created}}
                                </p> -->
                                <!--                                 <p class="no-padding"> <strong>Last logon:</strong> &nbsp; //TODO
                                </p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-envelope"></i> Instant message module
            </div>
            <div class="widget-body large no-padding" scroll-glue>
                <br>
                <div class="instant_messenger">
                    <div class="row">
                        <div class="col-lg-12">
                            {{getMessages(contact._id)}}
                            <p class="no-padding" ng-repeat="message in contact.messages">
                                <span ng-repeat="(user_id, message_content) in message">
                                <strong>{{getUserNameFromID(user_id)}}: </strong>
                                {{message_content}}
                            </span>
                            </p>
                        </div>
                    </div>
                    <div class="message_bar">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter message" ng-model="current_message" ng-enter="emitMessage(contact._id)">
                            <span class="input-group-addon">
                                <a ng-click="emitMessage(contact._id)" class="btn btn-accent pull-right"> Send message </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>