<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="top-panel">
            <h5 class="text-secondary"> Main &nbsp; > &nbsp;<span class="text-accent"> {{current_path}} </span></h5>
        </div>
    </div>
</div>
<div class="row" ng-show="mentees.length === 0">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-body small no-padding">
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="text-center">
                            No {{current_path}}'s currently assigned
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-repeat="contact in mentees">
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header" ng-class="{'red': contact.severity_grade === 'High', 'yellow': contact.severity_grade === 'Medium', 'blue': contact.severity_grade === 'Low' }">
                {{contact.username}}({{contact._id}})
            </div>
            <div class="widget-body large no-padding">
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="no-padding">
                            First name: &nbsp; {{contact.first_name}}
                        </p>
                        <p class="no-padding">
                            Last name: &nbsp; {{contact.last_name}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-envelope"></i> Instant message module
            </div>
            <div class="widget-body large no-padding"  scroll-glue>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        {{getMessages(contact._id)}}
                        <p class="no-padding" ng-repeat="message in contact.messages">
                            <span ng-repeat="(user_id, message_content) in message">
                                <strong>{{getUserNameFromID(user_id)}}: </strong>
                                {{message_content}}
                            </span>
                        </p>
                        <input ng-model="current_message" ng-enter="emitMessage(contact._id)" type="text" placeholder="send message"></input>
                        <a ng-click="emitMessage(contact._id)" class="btn btn-accent"> Send message </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>