<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="top-panel">
            <h5 class="text-secondary"> Main &nbsp; > &nbsp;<span class="text-accent"> Notifications </span></h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-lg-6">
        <h3> General </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="widget">
            <div class="widget-header">
                <p class="minimal-padding">You were assigned a mentor! </p>
            </div>
            <div class="widget-body no-padding">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <p> To learn more about them click <a href="#mentor">here</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <h3> Ratings </h3>
        </div>
    </div>
    <div class="col-md-4 col-lg-4" ng-repeat="task in tasks">
        <div class="widget">
            <div class="widget-header">
                <!-- USER HAS SUBMITTED RATING TO SERVER -->
                <div ng-show="task.assignees[user._id].rating">
                </div>
                <p class="no-padding">{{task.title}}</p>
                <p class="no-padding">ID: ({{task._id}})</p>
            </div>
            <div class="widget-body no-padding">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <h5> How would you rate the experience? </h5>
                        <div class="text-center">
                            <i ng-class="{'gold': task.assignees[user._id].rating.score }" ng-click="updateRating(task._id, 'score', 1)" class="fa fa-star-o fa-3x rating-star"></i>
                            <i ng-class="{'gold': task.assignees[user._id].rating.score && task.assignees[user._id].rating.score >= 2 }" ng-click="updateRating(task._id, 'score', 2)" class="fa fa-star-o fa-3x rating-star"></i>
                            <i ng-class="{'gold': task.assignees[user._id].rating.score && task.assignees[user._id].rating.score >= 3 }" ng-click="updateRating(task._id, 'score', 3)" class="fa fa-star-o fa-3x rating-star"></i>
                            <i ng-class="{'gold': task.assignees[user._id].rating.score && task.assignees[user._id].rating.score >= 4 }" ng-click="updateRating(task._id, 'score', 4)" class="fa fa-star-o fa-3x rating-star"></i>
                        </div>
                        <!-- USER HAS SUBMITTED RATING TO SERVER -->
                        <p ng-show="task.assignees[user._id].rating.score" class="minimal-padding text-center"> You rated the task: {{task.assignees[user._id].rating.score}}/4 </p>
                        <textarea ng-model="task.assignees[user._id].rating.comment" ng-keyUp="updateRating(task._id, 'comment',task.assignees[user._id].rating.comment )" class="form-control" placeholder="Additional comments" rows="4"></textarea>
                        <button ng-click="setRating(ratings[task._id].rating, task._id)" class="pull-right btn btn-accent"> Submit </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ratings}}