<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Choose user</label>
                        <select class="form-control" name="" id="">
                            <option> Please choose user </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <th>Open</th>
                                <th>Closed</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p class="no-padding">Task details</p>
                                        <p class="no-padding">Task details</p>
                                        <p class="no-padding">Task details</p>
                                        <p class="no-padding">Task details</p>
                                    </td>
                                    <td>
                                        <p class="no-padding">Task details</p>
                                        <p class="no-padding">Task details</p>
                                        <p class="no-padding">Task details</p>
                                        <p class="no-padding">Task details</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>