<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="top-panel">
            <h5 class="text-secondary"> Tasks &nbsp; > &nbsp;<span class="text-accent"> Task Management </span></h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12">
        <!-- ACCOUNT DETAILS -->
        <div class="widget">
            <div class="widget-header">
                <input ng-model="searchText" class="text-white form-control" type="text" placeholder="search"></input>
            </div>
            <div class="widget-body full no-padding">
                <br>
                <div ng-repeat="task in tasks | filter:searchText">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>
                                <i class="fa" ng-class="{'fa-check-circle-o': task.status === 'closed' , 'fa-circle-o': task.status === 'open'}">
                            </i>  <span  ng-class="{'text-strikethrough': task.status === 'closed'}"> {{task.title}}  </span>
                        </h3>
                            <p class="minimal-padding text-subheading text-secondary">{{task.date_created}}</p>
                            <p class="minimal-padding"> Description: {{task.description}} </p>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="pull-right btn btn-sm btn-danger"><i class="fa fa-trash"></i>
                            </button>
                            <br>
                            <br>
                            <accordion close-others="false">
                                <accordion-group heading="Rating Comments ({{task.stats.rating_comments.length}})">
                                    <p class="minimal-padding" ng-repeat="comment in task.stats.rating_comments" class="minimal-padding"> {{$index + 1}}) {{comment}}</p>
                                    <p class="minimal-padding" ng-hide="task.stats.rating_comments.length >= 1"> No comments have been left yet</p>
                                </accordion-group>
                                <accordion-group heading="Stats">
                                    <p class="minimal-padding"> Average rating: {{task.stats.average_rating.val}} ({{task.stats.average_rating.num}} total)</p>
                                    <p class="minimal-padding"> Number of current assignees: {{task.stats.number_of_assignees}}</p>
                                    <p class="minimal-padding"> Percentage complete </p>
                                    <percentagebar data="{complete: task.stats.status.closed, incomplete: task.stats.status.open}"></percentagebar>
                                </accordion-group>
                            </accordion>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>