<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="top-panel">
            <h5 class="text-secondary"> Tasks &nbsp; > &nbsp;<span class="text-accent"> Task Management </span></h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12">
        <!-- ACCOUNT DETAILS -->
        <div class="widget">
            <div class="widget-header">
                <input ng-model="searchText" class="text-white form-control" type="text" placeholder="search"></input>
                <div class="btn-toolbar">
                    <!-- OPEN/CLOSED FILTER -->
                    <div class="btn-group text-center">
                        <button type="button" ng-click="setFilter('openTask', 'open')" class="btn btn-sm btn-accent">Open</button>
                        <button type="button" ng-click="setFilter('openTask', 'closed')" class="btn btn-sm btn-accent">Closed</button>
                        <button ng-click="setFilter('openTask', 'none')" type="button" class="btn btn-sm btn-accent">All</button>
                    </div>
                </div>
            </div>
            <div class="widget-body full no-padding">
                <br>
                <div ng-repeat="task in tasks | openTaskFilter:filters | filter:searchText">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>
                                <i class="fa" ng-class="{'fa-check-circle-o': task.status === 'closed' , 'fa-circle-o': task.status === 'open'}">
                            </i>  <span  ng-class="{'text-strikethrough': task.status === 'closed'}"> {{task.title}}  </span>
                        </h3>
                            <p class="minimal-padding text-subheading text-secondary">{{task.status}} &nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp; {{task._id}} &nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp; assignee: {{task.assignee}} &nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp; Created: {{task.date_created}}</p>
                            <p class="minimal-padding">{{task.description}} </p>
                            <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> &nbsp; Delete</button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>