.codeCoverageIframe {
    height: 400px;
    width: 100%;
    border: 0px;
}
.panel-thick-border {
    border-width: 5px;
}
.page-content {
    background-color: #f3f3f3;
    height: 100%;
}
.fullscreen {
    background: url("../assets/img/banner.jpg") no-repeat;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-size: cover;
}
.text-white {
    color: white;
}
.text-strikethrough {
    text-decoration: line-through;
}